<div class="sign-title">
   <img class="log-hbs" src="./images/spot-img.png" alt="Log Image"> 
</div>
<div class="log-container">
  <form action="/addspottedpokemon" method="POST">
  <div class="textbox">
    <input type="text" placeholder="Number in Pokédex" name="number" id="number">
  </div>
  
  <br>
  <div class="textbox">
    <input type="text" placeholder="Name" name="name" id="name">
  </div>
  
  <br>

  <div class="textbox">
    <input type="text" placeholder="Weight" name="weight" id="weight">
  </div>
  
  <br>

  <div class="textbox">
    <input type="text" placeholder="Height" name="height" id="height"> 
  </div>
  
  <br>

  <div class="textbox">
    <select class="select-css" aria-placeholder="Type" name="type" id="type">
      <option disabled selected>Select Pokémon type...</option>
      <option value="normal">Normal</option> 
      <option value="fire">Fire</option>
      <option value="fighting">Fighting</option>
      <option value="water">Water</option> 
      <option value="flying">Flying</option>
      <option value="grass">Grass</option>
      <option value="poison">Poison</option> 
      <option value="ground">Ground</option>
      <option value="psychic">Psychic</option>
      <option value="electric">Electric</option> 
      <option value="rock">Rock</option>
      <option value="ice">Ice</option>
      <option value="bug">Bug</option> 
      <option value="dragon">Dragon</option>
      <option value="ghost">Ghost</option>
      <option value="dark">Dark</option> 
      <option value="steel">Steel</option>
      <option value="fairy">Fairy</option>
      <option value="???">???</option>
      <option value="undefined">I don't know the type</option>
  </select>
  </div>

  
  <br>
  {{!-- <input type="checkbox" name="captured" id="captured">
  <label for="captured">I captured the Pokémon:</label>
  <br> --}}
  <button class="btn" type="submit">Add Pokémon</button>
</form>
</div>
