<h2>My captured pokemons:</h2>

<div id="pokemon-display">
  {{#each captured}}
     <a style="display: inline-block;" href="/pokemon/{{this}}">
      <img style="width: 100px;" src="/images/{{this}}.png" alt="{{this}}">
      <p style="display: inline;">{{this}}</p>
     </a>
  {{/each}}
</div>

