

<div id="captured-display">
  <h2>My captured pokemons:</h2>
  {{#each result}}
     <a style="display: inline-block;" href="/pokemon/{{name}}">
      <img style="width: 200px;" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/{{number}}.png" alt="{{name}}">
     </a>
  {{/each}}
</div>

