<div class="container">
  <div class="logo-cont">
    <img class="pokedex-img" src="./images/Pokedex.png" alt="Pokedex Logo">
  </div>
  <div class="pokedex-cont">
    <img class="pokedex-logo" src="./images/pokedex-img.png" alt="Pokedex Image">
  </div>
  
  <div class="buttons-index">
    <a id="audio" href="/login"><img src="./images/Log-In.png"  alt="Log In Image"></a>
    <a id="audio2" href="/signup"><img src="./images/Sign-Up.png" alt="Sign Up Image"></a>
  </div>

  {{!-- <div>
    <button id="log"><a href="/login">Log In</a></button>
    <a href="/signup"><button id="sign">Sign Up</button></a>
  </div> --}}

  <div>
    <audio id="clickAudio" src="/audio/click.m4a"></audio>
  </div>

  <div class="gif-container">
    <div class="container-left">
      <img class="gif charmander" src="./images/charmander.gif" alt="Charmander Image">
      <img class="gif squirtle" src="./images/squirtle.gif" alt="Squirtle Image">
      <img class="gif bulbasaur" src="./images/bulbasaur.gif" alt="Bulbasaur Image">
      <img class="gif pikachu" src="./images/pikachu.gif" alt="Pikachu Image">
      <img class="gif mew" src="./images/mew.gif" alt="Mew Image">
      <img class="gif lapras" src="./images/lapras.gif" alt="Lapras Image">
      <img class="gif articuno" src="./images/articuno.gif" alt="Articuno Image">
      <img class="gif zapdos" src="./images/zapdos.gif" alt="Zapdos Image">
    </div>
    <div class="container-right">
      <img class="gif charmeleon" src="./images/charmeleon.gif" alt="Charmeleon Image">
      <img class="gif ivysaur" src="./images/ivysaur.gif" alt="Ivysaur Image">
      <img class="gif wartortle" src="./images/wartortle.gif" alt="Wartortle Image">
      <img class="gif charizard" src="./images/charizard.gif" alt="Charizard Image">
      <img class="gif blastoise" src="./images/blastoise.gif" alt="Blastoise Image">
      <img class="gif venasaur" src="./images/venasaur.gif" alt="Venasaur Image">
      <img class="gif moltres" src="./images/moltres.gif" alt="Moltres Image">
      <img class="gif mewtwo" src="./images/mewtwo.gif" alt="Mewtwo Image">
    </div>
  </div>
</div>
