<div >
   <img class="log-hbs" src="./images/login-img.png" alt="Log Image"> 
  </div>

<div class="log-container">
    

    <form action="/login" method="POST">

    <div class="textbox">
      <label for="email"></label>
      <input type="text" placeholder="Email" name="email" id="email">
    </div>

    </br>

    <div class="textbox">
      <label for="password"></label>
      <input type="password" placeholder="Password" name="password" id="password">
    </div>

    

    </br>

    <button class="btn" type="submit">Log In</button>

  </form>
</div>