<div class="sign-title">
   <img class="log-hbs" src="./images/login-img.png" alt="Log Image"> 
</div>

<div class="log-container">
    

    <form action="/login" method="POST">

    <div class="textbox">
      <i class="fas fa-envelope"></i>
      <input type="text" placeholder="Email" name="email" id="email" >
    </div>

    </br>

    <div class="textbox">
      <i class="fas fa-lock"></i>
      <input type="password" placeholder="Password" name="password" id="password">
    </div>

    

    </br>

    <button class="btn" type="submit">Log In</button>

    {{#if errorMessage}}
      <p class="error-message">{{errorMessage}}</p>
    {{/if}}

  </form>
</div>