<div class="log-container">

    <h2>Nice to see you here!!</h2>

    <form action="/login" method="POST">

    <label for="email">Email: </label>
    <input type="text" name="email" id="email">

    </br>

    <label for="password">Password: </label>
    <input type="password" name="password" id="password">

    </br>

    <button type="submit">Log In</button>

  </form>
</div>