<div class="sign-title">
   <img class="log-hbs" src="./images/sign-img.png" alt="Log Image"> 
</div>

<div class="log-container">

  <form action="/signup" method="POST">

  <div class="textbox">
    <input type="text" placeholder="Name" name="name" id="name" autocomplete="off">
  </div>
    
  </br>

  <div class="textbox">
    <input type="text" placeholder="Age" name="age" id="age" autocomplete="off">
  </div>

  </br>

  <div class="textbox">
    <input type="text" placeholder="Email" name="email" id="email" autocomplete="off">
  </div>

  </br>

  <div class="textbox">
    <input type="password" placeholder="Password" name="password" id="password" autocomplete="off">
  </div>
    
  </br>

  <button class="btn" type="submit">Create new trainer</button>

  <p>{{errorMessage}}</p>

  </form>
</div>