

<div id="team-display" class="container-fluid">
  <h2>My team:</h2>
  <div class="row">
    {{#each result}}
        <div class="col-lg-4 col-sm-6 col-xs-12">
          <a href="/pokemon/{{number}}">
            <img style="width: 300px; margin-top: 3vh;" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/{{number}}.png" alt="{{name}}">
          </a>
        </div>
        
      {{/each}}
  </div>
  
</div>

