

<div class="user-box">
  <a href="/team"><img class="userimg userteam" src="./images/user-pikachu.png" alt="Pikachu Image"><p class="usertext text-team">My team</p></a>
  <a href="/captured"><img class="userimg usercaptured" src="./images/user-pokeball.png" alt="Pokeball Image"><p class="usertext text-captured">My captured Pokémons</p></a>
  <a href="/pokedex"><img class="userimg userpokedex" src="./images/user-pokedex-3.png" alt="Pokedex Image"><p class="usertext text-pokedex">My Pokédex</p></a>

</div>

