
body {
  /* padding: 50px; */
  /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
  background-color: #ED6F5F;
  font-family: 'Arvo', serif;
}

a {
  color: white; 
}

h2{
  font-weight: 700;
}

.error-message{
  color: #3B4CCA;
  width: 100%;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.custom-toggler.navbar-toggler {
  border-color: white;
} 

.container {
  margin: 0 auto;
  text-align: center;
}

.buttons {
  padding: 0;
  margin: 0;
}

.gif-container {
  position: absolute;
  top: 0;
  left: 0;
}

.gif {
  display: block;
  width: 90px;
}

.container-right{
  width: 30vw;
  position: absolute;
  left: 70vw;
  top: 10vh;
}
.container-left{
  width: 30vw;
  position: absolute;
  top: 10vh;
}
.charmander{
  position: relative;
  left: 20%;
}
.squirtle{
  position: relative;
  left: 50%;
}
.bulbasaur{
  position: relative;
  left: 10%;
}
.pikachu{
  position: relative;
  left: 70%;
}
.mew{
  position: relative;
  left: 40%;
}
.lapras{
  position: relative;
  left: 20%;
}
.articuno{
  position: relative;
  left: 55%;
}
.zapdos{
  position: relative;
  left: 10%;
}
.charmeleon{
  position: relative;
  left: 20%;
}
.ivysaur{
  position: relative;
  left: 50%;
}
.wartortle{
  position: relative;
  left: 10%;
}
.charizard{
  position: relative;
  left: 70%;
}
.blastoise{
  position: relative;
  left: 40%;
}
.venasaur{
  position: relative;
  left: 20%;
}
.moltres{
  position: relative;
  left: 55%;
}
.mewtwo{
  position: relative;
  left: 10%;
}

.form-container{
  text-align: center;
  margin: 15vh auto;
  width: 20vw;
}

.textbox {
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 2px solid #ffde00;
}

.textbox input {
  border: none;
  outline: none;
  background: none;
  color: #3B4CCA;
  font-size: 18px;
  width: 80%;
  float: left;
  margin: 0 10px
}

.btn {
  width: 100%;
  background: none;
  border: 2px solid #3b4cca;
  color: #3B4CCA;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  margin: 12px 0;
  
}

.buttons-index {
  margin-top: 4vh;
}

.select-css {
  background: none;
  border: none;
  color: #887164;
  font-size: 1.2rem;
}
.select-css:focus{
  background-color: #6D6868;
  color: white;
}

.btn-pkmn{
  width: 10vw;
  background-color: black;
  /* border: 2px solid #B3A125; */
  border-radius: 20px;
  color: white;
  padding: 5px;
  font-size: 0.9vw;
  cursor: pointer;
  margin: 12px 0;
}

#pokemon-display  .name-title{
  font-size: 2vw;
  font-weight: 700;
}
#pokemon-display p{
  font-size: 1vw;
}

#pokemon-display p span{
  font-weight: 700;
}

#pokedex-display {
  margin: 0 auto;
  width: 100vw;
}

.user-box{
  position: absolute;
  width: 80vw;
  left: 20vw;
  top: 15vw;
}
.user-box img {
  width: 25%;
}


.usertext {
  color: black;
  font-weight: bold;
  font-size: 1.5vw;
  text-decoration: none;
  top: 23vw;
}

.text-team{
  font-size: 1.5vw;
  position: absolute;
  left: 4.5vw;
}

.text-captured{
  font-size: 1.5vw;
  position: absolute;
  left: 21.5vw;
}

.text-pokedex{
  font-size: 1.5vw;
  position: absolute;
  left: 47.5vw;
}

#captured-display {
  margin: 3vh 3vw;
}

#team-display{
  margin: 3vh 3vw;
}

.navbar{
  background-color: black;
  color: white;
  padding: .4rem .5rem;
  width: 100vw;
  margin: 0;
  z-index: 1000;
}

.logo-cont{
  position: absolute;
  top: 4vw;
  left: 40vw;
  width: 20vw;
}
.pokedex-img{
  width: 100%;
}
.pokedex-cont{
  position: absolute;
  top: 11vw;
  left: 30vw;
  width: 40vw;
}
.pokedex-logo {
  width: 100%;
}

.buttons-index img{
  width: 45%; 
}
.buttons-index{
  width: 20vw;
  position: absolute;
  top: 40vw;
  left: 40vw;
}

.log-container{
  display: flex;
  justify-content: center;
  text-align: center;
  position: absolute;
  top: 15vw;
  left: 40vw;
  width: 20vw;
}

.sign-title{
  position: absolute;
  left: 30vw;
  top: 7vw;
  width: 40vw;
}

.sign-title img {
  width: 100%;
}

.pokedex-pkmn{
  width: 100px;
}

.captured-pkmn{
  width: 200px;
  margin-top: 3vh;
}

.pkmn-info{
  width: 300px;
}

#pikachu-load{
  width: 18vw;
  position: absolute;
  left: 41vw;
  top: 20vw;
}

#pikachu-load img{
  width: 100%;
}

#pikachu-load p{
  font-size: 2vw;
  position: absolute;
  top: 12vw;
  left: 5vw;
}

@media (max-width: 1470px) {
  .container-left{
    width: 15vw;
  }
  .container-right{
    width: 15vw;
    left: 80vw;
  }

}
@media (max-width: 1000px) {
  .container-left{
    display: none;
  }
  .container-right{
    display: none;
  }

  .logo-cont{
    top: 10vw;
    left: 30vw;
    width: 40vw;
  }
  .pokedex-cont{
    top: 30vw;
    left: 22vw;
    width: 60vw;
  }
  .buttons-index{
    top: 76vw;
    left: 30vw;
    width: 40vw;
  }
  .sign-title{
    top: 12vw;
    left: 15vw;
    width: 70vw;
  }
  .log-container{
    top: 27vw;
    left: 35vw;
    width: 30vw;
  }
  .user-box{
    width: 80vw;
    left: 10vw;
    top: 25vw;
  }
  .text-team{
    font-size: 5vw;
    left: 30vw;
    top: 35vw;
  }
  .text-captured{
    text-align: center;
    font-size: 5vw;
    left: 10vw;
    top: 100vw;
  }
  .text-pokedex{
    font-size: 5vw;
    left: 25vw;
    top: 160vw;
  }
  .user-box img {
    margin-left: 21.5vw;
    width: 50%;
    margin-bottom: 20vw;
  }
  #pokemon-display  .name-title{
    font-size: 5vw;
    font-weight: 700;
  }
  #pokemon-display p{
    font-size: 3vw;
  }
  
  #pokemon-display p span{
    font-weight: 700;
  }
  .btn-pkmn{
    width: 17.5vw;
    padding: 5px;
    font-size: 1.4vw;
    margin: 12px 0;
  }

  #pikachu-load{
    width: 30vw;
    position: absolute;
    left: 35vw;
    top: 35vw;
  }
  #pikachu-load p{
    font-size: 3vw;
    position: absolute;
    top: 20vw;
    left: 8.5vw;
  }

}

@media (max-width: 750px) {
  .logo-cont{
    top: 15vw;
    left: 25vw;
    width: 50vw;
  }
  .pokedex-cont{
    top: 41vw;
    left: 5vw;
    width: 90vw;
  }
  .buttons-index{
    top: 115vw;
    left: 20vw;
    width: 60vw;
  }
}
@media(max-width: 600px){
  .sign-title{
    top: 20vw;
    left: 5vw;
    width: 90vw;
  }
  .log-container{
    top: 35vw;
    left: 5vw;
    width: 90vw;
  }
  #pokemon-display  .name-title{
    font-size: 7vw;
    font-weight: 700;
  }
  #pokemon-display p{
    font-size: 5vw;
  }
  
  #pokemon-display p span{
    font-weight: 700;
  }
  .btn-pkmn{
    width: 45vw;
    padding: 5px;
    font-size: 3.5vw;
    margin: 12px 0;
  }


#pikachu-load{
  width: 50vw;
  position: absolute;
  left: 25vw;
  top: 70vw;
}
#pikachu-load p{
  font-size: 6vw;
  position: absolute;
  top: 35vw;
  left: 11vw;
}
}

@media (max-width: 430px) {
  .logo-cont{
    top: 20vw;
  }
  .pokedex-cont{
    top: 47vw;
  }
  .buttons-index{
    top: 120vw;
  }
  .captured-pkmn{
    width: 140px;
  }
}

/*# sourceMappingURL=style.css.map */