body {
  /* padding: 50px; */
  /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
  background-color: #ED6F5F;
  font-family: 'Arvo', serif;
}

a {
  color: #00B7FF; 
}

h2{
  font-weight: 700;
}

.container {
  margin: 0 auto;
  text-align: center;
}

.buttons {
  padding: 0;
  margin: 0;
}

.gif-container {
  position: absolute;
  top: 0;
  left: 0;
}

.gif {
  display: block;
  width: 90px;
}

.container-right{
  width: 30vw;
  position: absolute;
  left: 70vw;
  top: 10vh;
}
.container-left{
  width: 30vw;
  position: absolute;
  top: 10vh;
}
.charmander{
  position: relative;
  left: 20%;
}
.squirtle{
  position: relative;
  left: 50%;
}
.bulbasaur{
  position: relative;
  left: 10%;
}
.pikachu{
  position: relative;
  left: 70%;
}
.mew{
  position: relative;
  left: 40%;
}
.lapras{
  position: relative;
  left: 20%;
}
.articuno{
  position: relative;
  left: 55%;
}
.zapdos{
  position: relative;
  left: 10%;
}
.charmeleon{
  position: relative;
  left: 20%;
}
.ivysaur{
  position: relative;
  left: 50%;
}
.wartortle{
  position: relative;
  left: 10%;
}
.charizard{
  position: relative;
  left: 70%;
}
.blastoise{
  position: relative;
  left: 40%;
}
.venasaur{
  position: relative;
  left: 20%;
}
.moltres{
  position: relative;
  left: 55%;
}
.mewtwo{
  position: relative;
  left: 10%;
}

.form-container{
  text-align: center;
  margin: 15vh auto;
  width: 20vw;
}

.log-container{
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 15vh auto;
  width: 20vw;
}

.log-hbs {
  display: flex;
  width: 45vw;
  position: relative;
  left: 550px;
  top: 100px;
}

.textbox {
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 2px solid #ffde00;
}

.textbox input {
  border: none;
  outline: none;
  background: none;
  color: #3B4CCA;
  font-size: 18px;
  width: 80%;
  float: left;
  margin: 0 10px
}

.btn {
  width: 100%;
  background: none;
  border: 2px solid #3b4cca;
  color: #3B4CCA;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  margin: 12px 0;
  
}

.buttons-index {
  margin-top: 4vh;
}

.select-css {
  background: none;
  border: none;
  color: #887164;
  font-size: 1vw;
}
 .select-css:focus{
   background-color: #6D6868;
   color: white;
 }

.btn-pkmn{
  width: 10vw;
  background-color: black;
  /* border: 2px solid #B3A125; */
  border-radius: 20px;
  color: white;
  padding: 5px;
  font-size: 0.9vw;
  cursor: pointer;
  margin: 12px 0;
}

#pokemon-display  .name-title{
  font-size: 2vw;
  font-weight: 700;
}
#pokemon-display p{
  font-size: 1vw;
}

#pokemon-display p span{
  font-weight: 700;
}

#pokedex-display {
  margin: 0 auto;
}

.user-box{
  width: 60vw;
  position: absolute;
  left: 20vw;
  top: 25vh;
}

.userimg {
  height: 15vw;
} 

.usercaptured {
  position: absolute;
  left: 22.5vw;
} 

.userpokedex {
  position: absolute;
  left: 45vw;
}

.usertext {
  color: black;
  font-weight: bold;
  font-size: 1.5vw;
  text-decoration: none;
  top: 32vh;
}

.text-team{
  position: absolute;
  left: 4.5vw;
}

.text-captured{
  position: absolute;
  left: 21.5vw;
}

.text-pokedex{
  position: absolute;
  left: 47.5vw;
}

#captured-display {
  margin: 3vh 3vw;
}

#team-display{
  margin: 3vh 3vw;
}
/*# sourceMappingURL=style.css.map */